*,/*todos los elementos*/
*::before, /*para asegurar que los elementos generados por CSS de forma dinámica también sigan estas reglas*/
*::after {
  box-sizing: border-box; /* sin esta regla, el ancho y alto de un elemento se calcula sin tener en cuenta el relleno y el borde*/
  margin: 0;  /* para garantizar que no haya márgenes o rellenos no deseados aplicados de forma predeterminada por el navegador*/
  padding: 0;
}

body, input, textarea {
    color: map-get($colores , gray-color);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
}

/*BOTON-------------------------------------------------------------------------------------*/
button{
    font-weight: bolder;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 3px;
}

/*NAV---------------------------------------------------------------------------------------*/
nav {
    @include flexbox(row, space-between, center);
    padding: 1em;
    background-color: map-get($colores, white-color);
    /*position: fixed;
    top: 0;
    width: 100%;*/

    i {
        color: map-get($colores , lightgray-color);
    }

    p{
        font-family: "Pacifico", cursive;
        font-size: xx-large;
        color: map-get($colores , coral-color);
    }

    button{
        background-color: map-get($colores, white-color);
        color: map-get($colores , gray-color);
        border: 1px solid map-get($colores, lightgray-color);
    }
}

/*HEADER--------------------------------------------------------------------------------------*/
header{
    background-image: $header-fondo;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    min-height: 35em;
    width: 100%;
    height: auto;
    @include flexbox(column);

    h1{
        color: map-get($colores, blue-color);
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    p{
        margin-bottom: 2em;
    }

    button{
        background-color: map-get($colores, coral-color);
        border: 1px solid map-get($colores, coral-color);
        color: map-get($colores, white-color);
    }
}

/*MAIN------------------------------------------------------------------------------------------*/
/*FIRST-POST------------------------------------------------------------------------------------*/
.main__first__post{
    @include grid-layout;
    padding: 3em;
    margin-right: 3em;
    margin-left: 3em;

    h4{
        color: map-get($colores, blue-color);  
        margin-bottom: 1em;
    }

    article:nth-child(1) { grid-area: article1; }
    article:nth-child(2) { grid-area: article2; }
    article:nth-child(4) { grid-area: article3; }
    article:nth-child(5) { grid-area: article4; }

    article{
        padding: 1em;
    }

    figure {
        grid-area: image;
        width: 100%;
        border-radius: 50%;
        overflow: hidden; /* para asegurar que la imagen se ajuste al radio sin desbordarse */
        margin: 0; /* quitar los márgenes por defecto en la figura */
        min-width: 20em;
    }

    img {
        display: block; /* quitar el espacio adicional debajo de la imagen */
        width: 100%; /* asegurar que la imagen ocupe todo el espacio disponible en su contenedor */
        min-height: 20em;
        height: 100%;
    }
}

.main__first__post__left{
    text-align: right;
}

.main__first__post__right{
    text-align: left;
}

/*SECOND-POST--------------------------------------------------------------------------------------*/
.main__second__post{
    background-color:  map-get($colores, coral-color);
    @include flexbox(column);
    text-align: center;
    max-height: 20em;
    padding: 5em;

    h3{
        font-size: x-large;
    }

    h3, p:nth-child(3){
        color: map-get($colores, white-color);
    }

    p:nth-child(2), p:nth-child(4){
        color: map-get($colores, pink-color);
    }

    p:nth-child(2){
        font-style: italic;
        margin-top: 3em;
        margin-bottom: 3em;
        max-width: 40em;
    }

    p:nth-child(3){
        font-size: medium;
        margin-bottom: 0.5em;
    }

    p:nth-child(4){
        font-size: smaller;
    }
}

/*GALERIA*/
.main__galeria{
    @include flexbox();
    flex-wrap: wrap;
    padding: 5em;
    text-align: center;

    article{
        flex: 1 1 30%;
        margin: 1em;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        padding: 1em;
        box-sizing: border-box;
    }

    figure{
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    figcaption{
        color: map-get($colores, blue-color);  
        font-weight: bolder; 
        padding: 1em;
        padding-bottom: 1em;
        border: 1px solid map-get($colores, lightgray-color);
        border-top: 0;
        border-bottom: 0;
        width: 100%;
        box-sizing: border-box;
    }

    p{
        border: 1px solid map-get($colores, lightgray-color);
        border-top: 0;
        padding: 1em;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    img{
        display: block;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-sizing: border-box;
        max-width: 100%; // Asegura que la imagen no sobresalga
        height: auto; 
    }
}

/*CONTACTO------------------------------------------------------------------------------*/
.main__contact{
    @include flexbox(column);
    background-color: map-get($colores, blue-color);
    color: map-get($colores, white-color);
    padding: 3em;

    article {
        @include flexbox(row, space-around);
        padding: 3em;

        div {
            @include flexbox();
            margin-right: 1.5em;

            i{
                color: map-get($colores, coral-color);
                margin-right: 0.5em;
            }
        }  
    }
}

/*FOOTER---------------------------------------------------------------------------------------*/
footer{
    text-align: center;
    padding: 1em;
    background-color: map-get($colores, blue-color);
    color: map-get($colores, white-color);

    article, div{
        text-align: center;
    }

    a {
        color: map-get($colores, white-color);
    }
}


    