/* Pantallas más pequeñas */
@media only screen and (max-width: 980px) {
    header {
        h1 {
            font-size: 2em; 
        }

        p {
            padding: 1em; 
        }

        button {
            padding: 0.8em; 
        }
    }

    .main__first__post {
        grid-template-areas:
            'article1'
            'article2'
            'image'
            'article3'
            'article4';

        article {
            text-align: center; 
        }

        h4 {
            margin-bottom: 0.5em;
        }
    }

    .main__galeria{
        @include flexbox(column);
    }

    .main__contact{
        article {
            @include flexbox(column);

            div{
                margin-bottom: 1em;
            }
        }
    }
}