@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";
/* Mixin de Grid */
*,
*::before,
*::after {
  box-sizing: border-box; /* sin esta regla, el ancho y alto de un elemento se calcula sin tener en cuenta el relleno y el borde*/
  margin: 0; /* para garantizar que no haya márgenes o rellenos no deseados aplicados de forma predeterminada por el navegador*/
  padding: 0;
}

body, input, textarea {
  color: #767d85;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

/*BOTON-------------------------------------------------------------------------------------*/
button {
  font-weight: bolder;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 3px;
}

/*NAV---------------------------------------------------------------------------------------*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: white;
  /*position: fixed;
  top: 0;
  width: 100%;*/
}
nav i {
  color: #bbb;
}
nav p {
  font-family: "Pacifico", cursive;
  font-size: xx-large;
  color: #f6755e;
}
nav button {
  background-color: white;
  color: #767d85;
  border: 1px solid #bbb;
}

/*HEADER--------------------------------------------------------------------------------------*/
header {
  background-image: url(images/banner.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  min-height: 35em;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: #25a2c3;
  font-size: 3em;
  margin-bottom: 0.5em;
}
header p {
  margin-bottom: 2em;
}
header button {
  background-color: #f6755e;
  border: 1px solid #f6755e;
  color: white;
}

/*MAIN------------------------------------------------------------------------------------------*/
/*FIRST-POST------------------------------------------------------------------------------------*/
.main__first__post {
  display: grid;
  grid-template-areas: "article1 image article3" "article2 image article4";
  padding: 3em;
  margin-right: 3em;
  margin-left: 3em;
}
.main__first__post h4 {
  color: #25a2c3;
  margin-bottom: 1em;
}
.main__first__post article:nth-child(1) {
  grid-area: article1;
}
.main__first__post article:nth-child(2) {
  grid-area: article2;
}
.main__first__post article:nth-child(4) {
  grid-area: article3;
}
.main__first__post article:nth-child(5) {
  grid-area: article4;
}
.main__first__post article {
  padding: 1em;
}
.main__first__post figure {
  grid-area: image;
  width: 100%;
  border-radius: 50%;
  overflow: hidden; /* para asegurar que la imagen se ajuste al radio sin desbordarse */
  margin: 0; /* quitar los márgenes por defecto en la figura */
  min-width: 20em;
}
.main__first__post img {
  display: block; /* quitar el espacio adicional debajo de la imagen */
  width: 100%; /* asegurar que la imagen ocupe todo el espacio disponible en su contenedor */
  min-height: 20em;
  height: 100%;
}

.main__first__post__left {
  text-align: right;
}

.main__first__post__right {
  text-align: left;
}

/*SECOND-POST--------------------------------------------------------------------------------------*/
.main__second__post {
  background-color: #f6755e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 20em;
  padding: 5em;
}
.main__second__post h3 {
  font-size: x-large;
}
.main__second__post h3, .main__second__post p:nth-child(3) {
  color: white;
}
.main__second__post p:nth-child(2), .main__second__post p:nth-child(4) {
  color: rgb(251, 203, 202);
}
.main__second__post p:nth-child(2) {
  font-style: italic;
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 40em;
}
.main__second__post p:nth-child(3) {
  font-size: medium;
  margin-bottom: 0.5em;
}
.main__second__post p:nth-child(4) {
  font-size: smaller;
}

/*GALERIA*/
.main__galeria {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5em;
  text-align: center;
}
.main__galeria article {
  flex: 1 1 30%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
}
.main__galeria figure {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.main__galeria figcaption {
  color: #25a2c3;
  font-weight: bolder;
  padding: 1em;
  padding-bottom: 1em;
  border: 1px solid #bbb;
  border-top: 0;
  border-bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.main__galeria p {
  border: 1px solid #bbb;
  border-top: 0;
  padding: 1em;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
.main__galeria img {
  display: block;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

/*CONTACTO------------------------------------------------------------------------------*/
.main__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #25a2c3;
  color: white;
  padding: 3em;
}
.main__contact article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3em;
}
.main__contact article div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 1.5em;
}
.main__contact article div i {
  color: #f6755e;
  margin-right: 0.5em;
}

/*FOOTER---------------------------------------------------------------------------------------*/
footer {
  text-align: center;
  padding: 1em;
  background-color: #25a2c3;
  color: white;
}
footer article, footer div {
  text-align: center;
}
footer a {
  color: white;
}

/* Pantallas más pequeñas */
@media only screen and (max-width: 980px) {
  header h1 {
    font-size: 2em;
  }
  header p {
    padding: 1em;
  }
  header button {
    padding: 0.8em;
  }
  .main__first__post {
    grid-template-areas: "article1" "article2" "image" "article3" "article4";
  }
  .main__first__post article {
    text-align: center;
  }
  .main__first__post h4 {
    margin-bottom: 0.5em;
  }
  .main__galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__contact article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__contact article div {
    margin-bottom: 1em;
  }
}/*# sourceMappingURL=style.css.map */